a{
    text-decoration: none;
    margin: 0px 10px;
}
h2{
    color: #FF5733;
}
.page-header{
    width: 100%;
    padding: 5px 50px;
    /* background-color: #28282B; */
    background-color: #646464;
    color:#206262;
    display: flex;
}
.page-header-logo{
    margin: 10px 0px;
    width: 300px;
}
.page-header-primary, .page-header-secondary{
    display: flex;
}
.page-header-primary-nav{
    margin-left: 200px;
    font-size: 16px;
    width: 100vh;
    padding: 15px;
}
.page-header-login-logout{
    width: 26vh;
    text-align: right;
    padding: 15px;
}
.page-header-secondary-nav{
    font-size: 12px;
    width: 60vh;
    margin-right: 20px;
    padding-top: 5px;
}
.page-header-secondary-nav > a{
    color: #FFFFFF;
}

.page-header-primary-nav > a{
    color: #FFFFFF;
}

.page-header-login-logout > a {
    color: #FFFFFF;
}
