<div class="home-page-banner">
    <div class="home-page-banner-slogan">
      <h1>Welcome to the International Course Station, join the community which will lead and land you to the destination you are searching for</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <div class="home-page-action-section">
      <div class="banner-footer">
        <!-- use routerlink="." or [routerLink]="['.']" while routing to fragments on same component -->
        <a routerLink="." fragment="courses">Popular</a>
        <a routerLink="." fragment="testimony">Testimony</a>
        <a routerLink="." fragment="services">Services</a>
        <a routerLink="." fragment="contact">Contact</a>
  
        <!-- Or absolute path as well works -->
  
        <!-- <a routerLink="/Home" fragment="courses">Popular</a>
        <a routerLink="/Home" fragment="testimony">Testimony</a>
        <a routerLink="/Home" fragment="services">Services</a>
        <a routerLink="/Home" fragment="contact">Contact</a> -->
      </div>
      <div class="home-page-banner-search">
        <input type="text" class="search-input" placeholder="Search Courses" #searchVar>
        <!-- <button class="search-button" (click)="OnSearchClicked(searchVar.value)">Search Courses</button> -->
        <button class="search-button" (click)="OnSearchClicked(searchVar.value)">Search Courses</button>
      </div>
    </div>
</div>
